<template>
  <div>
    <form
      novalidate
      class="md-layout md-alignment-top-center"
      @submit.prevent="validateUser"
    >
      <md-card class="md-layout-item md-size-65 md-small-size-100">
        <md-card-header>
          <div class="md-title">Create a new Assignment</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('assignmentName')">
                <label for="assignment-name">Assignment name</label>
                <md-input
                  name="assignment-name"
                  id="assignment-name"
                  v-model="form.assignmentName"
                  :disabled="sending"
                />
                <span class="md-error" v-if="!$v.form.assignmentName.required"
                  >The assignment name is required</span
                >
                <!-- <span class="md-error" v-else-if="!$v.form.assignmentName.alphaNumSpace">Invalid assignment name (must be alphanumeric with spaces)</span> -->
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClassZip()">
                <label>ReggieNet grades.csv file</label>
                <md-file ref="csv_in" accept="text/csv" @md-change="changedFile" />
                <md-icon :class="getCloudColor()" v-if="fileStatus !== 'none'" @click.native="resetFile()" @mouseover.native="getCloudActivity()" @mouseleave.native="getCloudActivity()"> {{ fileStatus }}</md-icon>
                <span
                  class="md-error"
                  v-if="fileError"
                  >{{ fileError }}</span
                >
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('latePenalty')">
                <label for="late-penalty">Late Penalty</label>
                <md-input
                  name="late-penalty"
                  id="late-penalty"
                  v-model="form.latePenalty"
                  :disabled="sending"
                  type="number"
                />
                <md-icon>percent</md-icon>
                <span
                  class="md-error"
                  v-if="!$v.form.latePenalty.positiveInteger"
                  >Late penalty must be an integer between 0 and 100</span
                >
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('incFormatPenalty')">
                <label for="inc-format-penalty">Incorrect Format Penalty</label>
                <md-input
                  name="inc-format-penalty"
                  id="inc-format-penalty"
                  v-model="form.incFormatPenalty"
                  :disabled="sending"
                  type="number"
                />
                <md-icon>percent</md-icon>
                <span
                  class="md-error"
                  v-if="!$v.form.incFormatPenalty.positiveInteger"
                  >Late penalty must be an integer between 0 and 100</span
                >
              </md-field>
            </div>
          </div>

          <md-table v-model="form.questions" md-card>
            <md-table-toolbar>
              <h4 class="md-title">Questions</h4>
              <md-button
                class="md-primary md-raised md-icon-button"
                :disabled="sending"
                v-on:click="addQuestion()"
                ><md-icon>add_circle</md-icon></md-button
              >
            </md-table-toolbar>
            <md-table-row slot="md-table-row" slot-scope="{ item }" style="text-align: left">
              <md-table-cell md-label="Name" md-sort-by="name" class="md-size-10">
                <md-field>
                  <md-input v-model="item.name" :disabled="sending" style="width: 60px"/>
                </md-field>
              </md-table-cell>
              <md-table-cell md-label="Points" md-sort-by="points">
                <md-field>
                  <md-input v-model="item.points" :disabled="sending" type="number" style="width: 40px"/>
                </md-field>
              </md-table-cell>
              <md-table-cell md-label="Description" md-sort-by="desc">
                <md-checkbox v-model="item.desc" />
              </md-table-cell>
              <md-table-cell md-label="Extra Credit" md-sort-by="extraCredit">
                <md-checkbox v-model="item.extraCredit" />
              </md-table-cell>
              <md-table-cell md-label="Delete">
                <md-button class="md-accent md-icon-button" :disabled="sending" v-on:click="deleteQuestion(item.id)">
                  <md-icon>delete_forever</md-icon></md-button>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending"
            >Create assignment</md-button
          >
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="userSaved"
        >The assignment was created successfully!</md-snackbar
      >
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, helpers, between } from "vuelidate/lib/validators";
import { v4 } from "uuid";

const alphaNumSpace = helpers.regex("alphaNumSpace", /^[a-zA-Z0-9 ]+$/);

const defaultFormValues = {
  assignmentName: null,
  latePenalty: 10,
  incFormatPenalty: 10,
  questions: [
    // {
    //   name: "Q1",
    //   points: 15,
    //   desc: false,
    //   extraCredit: false,
    // },
    // {
    //   name: "Q2",
    //   points: 10,
    //   desc: false,
    //   extraCredit: false,
    // },
    // {
    //   name: "Q3",
    //   points: 5,
    //   desc: true,
    //   extraCredit: false,
    // },
    // {
    //   name: "Q4",
    //   points: 20,
    //   desc: false,
    //   extraCredit: true,
    // },
  ],
  form_guid: v4(), //TODO optimization- only create a new GUID when you need to, and persist it for as long as you can. but not important now
};

const defaultQuestion = {
      id: "uuid",
      name: "",
      points: 10,
      desc: false,
      extraCredit: false,
    }

export default {
  name: "FormValidation",
  mixins: [validationMixin],
  data: () => ({
    form: JSON.parse(JSON.stringify(defaultFormValues)),
    userSaved: false,
    sending: false,
    activeCloud: 'none',
    fileStatus: 'none',
    fileError: '',
  }),
  validations: {
    form: {
      assignmentName: {
        required,
        alphaNumSpace,
      },
      latePenalty: {
        positiveInteger: between(0, 100),
      },
      incFormatPenalty: {
        positiveInteger: between(0, 100),
      }
    },
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty,
        };
      }
    },
    getValidationClassZip() {
      if (this.fileStatus == 'cloud_off'){
        return 'md-invalid';
      } else {
        return '';
      }
    },
    getCloudActivity() {
      // if (this.activeCloud === 'none' && this.fileStatus !== 'none'){
      //   this.activeCloud = this.fileStatus
      //   this.fileStatus = 'close'
      // } else {
      //   this.fileStatus = this.activeCloud
      //   this.activeCloud = 'none'
      // }
    },
    getCloudColor() {
      switch (this.fileStatus){
        case 'cloud_upload':
          return 'cloud-blue';
        case 'cloud_done':
          return 'cloud-green';
        case 'cloud_off':
        case 'close':
          return 'cloud-red';
        default:
          return ''
      }
    },
    resetFile() {
      // this.fileStatus = 'none';
      this.$refs["csv_in"].clearField();
      console.log(this.$refs);
      // console.log(this.$refs);
      // console.log(this.$refs["csv_in"].getFileName());
    },
    clearForm() {
      this.$v.$reset();
      this.$refs["csv_in"].clearField();
      this.form = JSON.parse(JSON.stringify(defaultFormValues));
    },
    saveUser() {
      this.sending = true;

      // Instead of this timeout, here you can call your API
      setTimeout(async () => { //http://localhost:3000
          await fetch('/api/submitnew', {
          method: "POST",
          body: JSON.stringify(this.form),
          headers: {
            'Content-Type': 'application/json',
          },
          }).then(async response => {
            if (response.ok){
              console.log(await response.text());
              this.fileStatus = 'cloud_done';
            } else {
              this.fileStatus = 'cloud_off';
              this.fileError = `Status ${response.status}: ${await response.text()}`;
            }

            this.userSaved = true;
            this.sending = false;
            this.clearForm();

          })
          .catch(error => {
            console.log(error);
            this.fileStatus = 'cloud_off';
            this.fileStatus('Some weird error has occured. Check console for details.');
          });
        }, 1000);
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.saveUser();
      }
    },
    addQuestion(){
      this.form.questions.push({...JSON.parse(JSON.stringify(defaultQuestion)), id: v4()});
    },
    deleteQuestion(uuid){
      this.form.questions = this.form.questions.filter(q => q.id != uuid);
    },
    async changedFile(filelist){
      this.fileError = '';
      this.fileStatus = 'cloud_upload';

      if (filelist.length != 1){
        this.fileStatus = 'cloud_off';
        this.fileError = 'You may only submit one file.';
      } else {
        let zip_file = filelist[0];
        let formData = new FormData();
        formData.append("form_guid", this.form.form_guid);
        formData.append("grades_csv", zip_file);

        setTimeout(async () => {//http://localhost:3000
          await fetch('/api/csvupload', {
          method: "POST",
          body: formData
          }).then(async response => {
            if (response.ok){
              console.log(await response.text());
              this.fileStatus = 'cloud_done';
            } else {
              this.fileStatus = 'cloud_off';
              this.fileError = `Status ${response.status}: ${await response.text()}`;
            }
          })
          .catch(error => {
            console.log(error);
            this.fileStatus = 'cloud_off';
            this.fileStatus('Some weird error has occured. Check console for details.');
          });
        }, 1000);
      }


      /*
      0: File
lastModified: 1637511129038
lastModifiedDate: Sun Nov 21 2021 10:12:09 GMT-0600 (Central Standard Time) {}
name: "Programming Assignment 5_20211121101208.zip"
size: 43806
type: "application/x-zip-compressed"
webkitRelativePath: ""
[[Prototype]]: File
length: 1
[[Prototype]]: FileList
      */
    }
  },
};
</script>

<style scoped>
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

form {
  margin-top: 20px;
}

.cloud-blue{
  color: lightblue!important
}

.cloud-green{
  color: lightgreen!important
}

.cloud-red{
  color: #ff4d4d!important
}

</style>